In [2]:
# Import modules
import numpy as np
import pandas as pd
import geopandas as gpd
import glob
import os
import netCDF4
from datetime import timedelta, datetime
from shapely.geometry import Point

In [19]:
# Define path
path = '/Users/jryan4/Dropbox (University of Oregon)/research/clouds/data/era/'

# Define ERA5 data
era5 = netCDF4.Dataset(path + 'era_t2m_2003_2020.nc')
era5_lon = era5.variables['longitude'][:]
era5_lat = era5.variables['latitude'][:]
era5_xx, era5_yy = np.meshgrid(era5_lon, era5_lat)

In [20]:
# Get time
base = datetime(1900,1,1)
era5_time = pd.DataFrame(era5.variables['time'][:], columns=['hours'])
era5_time['datetime'] = era5_time['hours'].apply(lambda x: base + timedelta(hours=x))

In [21]:
era5_time

         hours            datetime
0       906504 2003-06-01 00:00:00
1       906505 2003-06-01 01:00:00
2       906506 2003-06-01 02:00:00
3       906507 2003-06-01 03:00:00
4       906508 2003-06-01 04:00:00
...        ...                 ...
39739  1057747 2020-08-31 19:00:00
39740  1057748 2020-08-31 20:00:00
39741  1057749 2020-08-31 21:00:00
39742  1057750 2020-08-31 22:00:00
39743  1057751 2020-08-31 23:00:00

[39744 rows x 2 columns]

In [22]:
era5

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT_OFFSET data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2021-02-10 20:03:27 GMT by grib_to_netcdf-2.16.0: /opt/ecmwf/eccodes/bin/grib_to_netcdf -S param -o /cache/data6/adaptor.mars.internal-1612984319.8993301-20129-5-cd73ed35-4d8a-4945-9f3a-03c5593e298e.nc /cache/tmp/cd73ed35-4d8a-4945-9f3a-03c5593e298e-adaptor.mars.internal-1612984319.9163132-20129-2-tmp.grib
    dimensions(sizes): longitude(249), latitude(105), time(39744)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 t2m(time, latitude, longitude)
    groups:

In [ ]:
era_lw.append(new_df['strd'].values / 3600)